body {
    margin: 0;
    font-family: Arial,sans-serif;
      background-color: aqua
  }
  button:hover{
      background-color: blue
  }
  button:active {
    background: red;
  }
  button:focus {
    border: 5px green  solid;
  }
  
  
  div{
      padding: 10px;
      margin:20px;
      border:1px solid cyan;
      background-color: lightpink;
       border-radius: 20px
  }
  button{
      padding: 10px;
      width:100px;
      background-color: green;
       border-radius: 20px;
      margin: 10px 20px
  }
  img{
      float:right
  }
  h1{
      font-family: cursive;
      color:darkgoldenrod;
      text-align: center;
      padding: 10px;
      background-color: chartreuse;
      width:500px;
      margin:10px;
      border-radius: 50px;
      transition-duration: 1s;
      transition-property: all;
  }
   h1:hover {
          background: yellow;
          color: white;
        }